/**
 * CheckboxGroup Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__checkbox-prefix-cls: kuma-checkbox-group;

.@{__checkbox-prefix-cls} {
    .@{__checkbox-prefix-cls}-item {
        display: inline-block;
        line-height: 16px;
        s {
            vertical-align: top;
            display: inline-block;
        }
        &-content {
            vertical-align: top;
            display: inline-block;
            padding: 0px 20px 0px 10px;
        }
    }
 }
