/**
 * CheckboxGroup Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 :root .kuma-checkbox-group {
    > label {
        display: inline-block;
        line-height: 16px;
        s {
            vertical-align: top;
            display: inline-block;
        }
        span {
            vertical-align: top;
            display: inline-block;
            padding: 0px 20px 0px 0px;
        }
    }
 }
