/**
 * CheckboxGroup Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 .kuma-checkbox-group {
    > label {
        display: inline-block;
        color: @text-color;
        span {
            padding: 0px 20px 0px 4px;
        }
    }
 }
